.git
.github
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
docker-compose.yml
.env
.env.*
!.env.example
*.md
docs
tests
