services:
    -
        class: Tests\Architecture\ModelsDependOnlyOnModelsTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\RepositoriesDependOnlyOnModelsTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\ServicesDependOnlyOnModelsRepositoryContractsAndServicesTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\PresentationLayerDependsOnContractsTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\ConfigIsIndependentTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\NoCrossLayerDependenciesTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\DomainVendorIsolationTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\FormRequestsAreIndependentTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\PoliciesDependOnlyOnModelsTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\ProvidersContainNoBusinessLogicTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\DtosAreIndependentTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\ActionsDependOnlyOnModelsTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\ViewComponentsAreIndependentTest
        tags:
            - phpat.test
