parameters:
    paths:
        - app
        - config
        - database
        - lang
        - routes
        - tests

    excludePaths:
        - vendor
        - storage
        - bootstrap/cache

    level: max

services:
    -
        class: Tests\Architecture\ModelsDependOnlyOnModelsTest
        tags:
            - phpat.test
    -
        class: Tests\Architecture\RepositoriesDependOnlyOnModelsTest
        tags:
            - phpat.test
