includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - lang
        - routes
        - tests

    excludePaths:
        - vendor
        - storage
        - bootstrap/cache

    level: max
