includes:
    - phpstan.neon.dist
    - phpat.neon

parameters:
    paths!:
        - app
    # Eigene Datei, weil PHPStan einen Ergebnis-Cache verwirft, der von einer anderen Konfiguration stammt.
    resultCachePath: %tmpDir%/resultCache-arch.php
